*{
  box-sizing: border-box;
  background-color: #111;
  color: #dfdfdf;
  font-family: sans-serif;
}

body{
  overflow-y: scroll;
}

hr{
  border: 1px solid #dfdfdf;
}

h4{
  background-color: #dfdfdf;
  color: #111;
}

.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.site-navbar{
  margin: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.logo{
  width: auto;
  height: 100px;
  max-width: 100%;
  max-height: 100%;
}

.title{
  margin: 4px 0px;
}

.intro p{
  background-color: #111;
  color: #dfdfdf;
}

.nav{
  display: flex;
  margin: 0px;
}

.nav-btn{
  padding: 8px;
  background-color: #111;
  color: #dfdfdf;
  border-style: none;
  border-bottom: 0.25rem solid transparent;
  text-decoration: none;
  font-size: 1rem;
  transition: border 0.25s;
}

.nav-btn:hover{
  border-bottom: 0.25rem solid white;
}

.active{
  border-bottom: 0.25rem solid #dfdfdf;
}

.content{
  display: none;
  flex-wrap: wrap:
}

.column{
  display: flex;
  flex: 100%;
  flex-direction: column;
}

.shown {
  display: flex;
}

.card{
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  margin: 4px;
  padding: 8px;
  background-color: #dfdfdf;
  color: #111;
}

.card a{
  background-color: #dfdfdf;
  color:#111;
}

ul, li, p{
  background-color: #dfdfdf;
  color: #111;
}

@media (min-width: 768px){
  .container{
    width: 90%;
  }
}
